.counter{
    border: none;
    background-color:#96B95B;
    width: 250px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    padding: 3px;
    justify-content: center;
    font-size: 25px;
}

.increment{
    width: 80px;
    height: 60px;
    background-color: lightgray;
    border: none;
    margin-right: 10px;
}
.decrement{
    width: 80px;
    height: 60px;
    background-color: lightgray;
    border: none;
    margin: 16px;
}